body {
    font-family: Arial;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

button {
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 3px 5px gray;
}

.primary {
    background-color: blue;
    color: white;
    border: none;
}

.secondary {
    background-color: gray;
    color: white;
    border: none;
}

.outline {
    background-color: white;
    border: 2px solid blue;
    color: blue;
}

button:hover {
    transform: translateY(-3px);
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: 3px solid orange;
}

button:disabled {
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center;
    }
}