body {
    font-family: Arial;
    text-align: center;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

section {
    width: 300px;
}

.default, .borderbox {
    width: 250px;
    padding: 30px;
    border: 5px solid black;
}

.default {
    background-color: lightblue;
}

.borderbox {
    box-sizing: border-box;
    background-color: lightgreen;
}

@media (max-width: 700px) {
    main {
        flex-direction: column;
    }
}