body {
    font-family: Arial;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

button {
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    background-color: lightblue;
    box-shadow: 0 4px 8px gray;
    transition: all 0.3s ease;
}

button:hover {
    background-color: blue;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 8px 15px gray;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: 3px solid orange;
}

@media (max-width: 700px) {
    main {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}