body {
    margin: 0;
    font-family: Arial;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    background-color: black;
    color: white;
}

main {
    margin-top: 80px;
    margin-bottom: 60px;
}

section {
    height: 400px;
    padding: 30px;
}

.linear {
    background: linear-gradient(to right, lightblue, lightgreen);
    background-attachment: fixed;
}

.radial {
    background: radial-gradient(circle, pink, purple);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: black;
    color: white;
}