body {
    margin: 0;
    font-family: Arial;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: lightblue;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 40px;
    flex: 1;
}

.box {
    width: 30%;
    padding: 30px;
    text-align: center;
    border: 1px solid gray;
    transition: 0.3s;
}

.box:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 15px;
    background-color: lightblue;
}

@media (max-width: 750px) {
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    .box {
        width: 80%;
    }
}