body {
    font-family: Arial;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.card {
    width: 250px;
    padding: 20px;
    border: 1px solid gray;
    animation: fade 1s;
    transition: 0.3s;
}

.card img {
    width: 100%;
    filter: grayscale(100%);
}

.card:nth-child(2) img {
    filter: sepia(100%);
}

.card:nth-child(3) img {
    filter: brightness(70%);
}

.card:hover {
    transform: translateY(-10px);
}

.card:hover img {
    filter: none;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    main {
        flex-direction: column;
        align-items: center;
    }
}