body {
    font-family: Arial;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px;
}

.box {
    padding: 30px;
    border: 1px solid gray;
    transition: 0.3s;
}

.box:hover {
    transform: translateY(-5px);
    background-color: lightblue;
}

@media (min-width: 1000px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    main {
        grid-template-columns: 1fr;
    }
}