* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: lightblue;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 70vh;
    padding: 30px;
}

.about, .image {
    width: 40%;
    text-align: center;
}

.image img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: lightblue;
}

@media (max-width: 700px) {
    header, main {
        flex-direction: column;
    }

    .about, .image {
        width: 90%;
    }
}