body {
    font-family: Arial;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    height: 150px;
    padding: 20px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}