* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.dashboard {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px auto;
    min-height: 100vh;
}

header {
    grid-column: span 2;
    background-color: lightblue;
    padding: 20px;
}

aside {
    background-color: lightgray;
    padding: 20px;
}

aside a {
    display: block;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.box {
    min-height: 150px;
    padding: 30px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.box:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 15px gray;
}

.big {
    grid-column: span 2;
}

@media (max-width: 700px) {
    .dashboard {
        grid-template-columns: 1fr;
    }

    header {
        grid-column: span 1;
    }

    main {
        grid-template-columns: 1fr;
    }

    .big {
        grid-column: span 1;
    }
}